.outerContainer {
	padding: 2% 11% 6%;
	background-color: #131314;
}

.showcaseCards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.acard {
	width: 400px;
	font-family: "Open Sans", sans-serif;
	box-shadow: 2px 2px 15px 0 #141616;
	transition-duration: 0.3s;
	margin-bottom: 40px;
	background-color: #2c2c30;
	color: #fafaf6;
}

.acard:hover {
	transform: scale(1.1);
	transition-duration: 0.3s;
}
.cardImg {
	height: 200px;
	width: 400px;
	display: block;
	object-fit: cover;
	opacity: 0.9;
}

.cardDetails {
	padding: 10px 20px 20px;
}

.cardTitle {
	font-weight: 600;
}

.cardDes {
	font-size: 15px;
}

.cardLinks {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.link {
	width: 180px;
	text-align: center;
	border: 2px solid #fafaf6;
	border-radius: 10px;
	text-decoration: none;
	color: #fafaf6;
	margin: 5px;
}
.link:hover {
	color: black;
	background-color: #fafaf6;
	text-decoration: none;
}

.cardLinks img {
	margin-right: 16px;
	position: relative;
	top: 3px;
	left: -6px;
}
