.outerContainer {
	padding: 2% 11% 6%;
}

.showcaseCards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

/* @media only screen and (min-width: 344px) {
	.showcaseCards {
		
	}
} */
@media only screen and (max-width: 343px) {
	.showcaseCards {
		margin: 0 100px 0;
	}
}

.acard {
	width: 400px;
	font-family: "Open Sans", sans-serif;
	border: 1px solid rgb(168, 164, 164);
	border-radius: 20px;
	transition-duration: 0.3s;
	margin-bottom: 40px;
}

.acard:hover {
	transform: scale(1.1);
	transition-duration: 0.3s;
}
.cardImg {
	/* height: 200px;
	width: 400px; */
	border-radius: 20px 20px 0 0;
	max-width: 100%;
	max-height: 100%;
	display: block;
	object-fit: cover;
	opacity: 0.9;
}

.cardDetails {
	padding: 10px 20px 20px;
}

.cardTitle {
	font-weight: 600;
}

.cardDes {
	font-size: 15px;
}

.cardLinks {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.link {
	width: 180px;
	text-align: center;
	border-radius: 5px;
	text-decoration: none;
	/* color: #fff; */
	color: rgba(125, 42, 232, 1);
	border: 2px solid rgba(125, 42, 232, 1);
	/* background-color: rgba(125, 42, 232, 1); */
	padding: 2px;
	margin: 5px;
	font-weight: bold;
}
.link:hover {
	color: #fff;
	background-color: rgba(125, 42, 232, 1);
	text-decoration: none;
}

.cardLinks img {
	margin-right: 16px;
	position: relative;
	top: 3px;
	left: -6px;
}
