/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
	padding: 7rem 0;
	text-align: center;
	position: relative;
	overflow: hidden;
	background: linear-gradient(
		135deg,
		rgba(125, 42, 232, 1) 30%,
		rgba(1, 194, 204, 1) 73%,
		rgba(255, 255, 255, 1) 100%
	);
	color: white;
}

@media screen and (max-width: 966px) {
	.heroBanner {
		padding: 1.2rem 1.2rem 4rem;
		height: 30rem;
	}
}

.buttons {
	display: flex;
	align-items: center;
	justify-content: center;
}

/***********************************/
/* #01C2CC */
/* #7d2ae8; */
/* #25c2a0 */
.working-img {
	width: 200px;
	height: auto;
}

.socialLink {
	color: #fff;
	margin: 20px;
}

.socialLink:hover {
	color: black;
}
